<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" onclick="$().alert('close')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="main-section">
  <h3>Short your URL here:</h3>
  <form id="url-form">
    <div class="form-group">
        <input [(ngModel)]="urlRequest.long_url" type="url" required class="form-control" name="url" placeholder="Paste here the long URL here" id="url_input">
        <div class="help-block" style="display: none" id="url-error"></div>
    </div>
      <div class="text-center">
        <button type="button" (click)="shortUrl()" class="btn btn-primary mr-1" id="url_input_submit">Shorten</button>
        <button type="button" (click)="goHome()" class="btn btn-secondary" id="back-button-submit">Back</button>
    </div>
  </form>
  <form id="result-form" style="display: none">
      <div class="alert alert-success">Successfully shortened: <br/><span id="long_url"></span></div>
      <div class="form-group">
          <label for="name">You can now copy/paste the short URL</label>
          <input value="{{response?.short_id}}" type="text" class="form-control" name="url" readonly="readonly" id="short_id">
      </div>
      <div class="text-center">
          <button (click)="reset()" type="submit" class="btn btn-success mr-1" id="page_reload">New URL</button>
          <button (click)="copyUrl()" value="click to copy" class="btn btn-secondary mr-1">Copy URL</button>
          <button type="reset" (click)="goHome()" class="btn btn-secondary" id="back-button-submit">Back</button>
      </div>
  </form>
</section>
<div class="toast">
  <div class="toast-header">
    Toast Header
  </div>
  <div class="toast-body">
    Some text inside the toast body
  </div>
</div>